.content {
  padding-top: 193px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

a,
button {
  transition: all 300ms;
  text-decoration: none;

  &:disabled,
  &_disabled {
    pointer-events: none;
    text-decoration: none;
  }
}

.logo {
  @media screen and (max-width: 768px) {
    max-width: 134px;
  }
}

.button-delete {
  background-image: url(../images/delete.svg);
  background-position: center;
  width: 20px;
  height: 20px;
}

.cart {
  min-width: 491px;

  @media screen and (max-width: 768px) {
    min-width: initial;
    width: 100%;
  }
}